@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply bg-gray-50 text-gray-900 m-0;
  }
  
  #root {
    @apply min-h-screen;
  }
}

